/* src/styles/main.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffabc7;
}

header {
    background-color: #2d1b81;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

form {
    margin: 1em 0;
}

label {
    display: block;
    margin: 0.5em 0;
}

input[type="date"] {
    margin: 0.5em 0;
}

button {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #2d1b81;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#history-list {
    max-height: 200px; /* Maximum height before scrolling */
    overflow-y: scroll;  /* Enable vertical scrollbar */
    padding: 0;
    margin: 0; /* Reset margin for list */
    list-style-type: none; /* Remove default list style */
    border: 1px solid #ccc; /* Optional: Add a border to the list */
    background-color: #fff; /* Optional: Background color for better contrast */
}