/* src/styles/main.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

form {
    margin: 1em 0;
}

label {
    display: block;
    margin: 0.5em 0;
}

input[type="date"] {
    margin: 0.5em 0;
}

button {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Calendar Styles */
#calendar {
    max-width: 900px;
    margin: 2em auto; /* Adjust margin to give space around the calendar */
    padding: 1em; /* Add padding if needed */
    background-color: #fff; /* Ensure background color to improve visibility */
    border: 1px solid #ddd; /* Add border to make it distinct */
}

/* FullCalendar specific styles */
.fc {
    font-size: 14px; /* Adjust font size if needed */
}
